<link rel="stylesheet" href="/ssps/css/nav.css" />

<nav class="navigation-header" role="navigation" aria-label="Main navigation">
    <div class="nav-container">
        <div class="nav-links">
            <div class="logo-container">
                <a href="home.html">
                    <img
                        loading="lazy"
                        src="/ssps/img/nav/bk_logo.png"
                        class="logo"
                        alt="HCMUT-SSPS Logo"
                    />
                </a>                
                <div> <a href="dashboard.html" class="logo-text"> HCMUT-SSPS</a></div>
            </div>
            <img loading="lazy" src="/ssps/img/nav/seperator.svg" alt="" />
            <a href="dashboard.html" class="nav-link nav-text" tabindex="0">
                Bảng điều khiển
            </a>
            <a href="upload.html" class="nav-link nav-text" tabindex="0">
                In tài liệu
            </a>
            <a href="profile.html" class="nav-link nav-text" tabindex="0">
                Tài khoản
            </a>
            <a href="buy-paper.html" class="nav-link nav-text" tabindex="0">
                Mua giấy
            </a>
            <a href="history.html" class="nav-link nav-text" tabindex="0">
                Xem lịch sử
            </a>
        </div>
        <div class="user-actions">
            <img
                loading="lazy"
                src="/ssps/img/nav/bell_icon.svg"
                class="notification-icon"
                alt="Notifications"
            />
            <a href="profile.html">
                <img
                loading="lazy"
                src="/ssps/img/profile/gojo.png"
                class="user-avatar"
                alt="User profile"
            />

            </a>
            
        </div>
    </div>
</nav>
