.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

.frame-wrapper {
  border-radius: 16px;
  background: var(--bgColor-light, #fff);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(0, 0, 0, 0.05);
  align-self: center;
  display: flex;
  margin-top: 82px;
  min-height: 425px;
  width: 930px;
  max-width: 100%;
  flex-direction: column;
  font-family: Inter, sans-serif;
  padding: 22px 24px;
}

.frame-3 {
  display: flex;
  flex-direction: column;
  width: 536px;
  align-items: center;
  gap: 45px;
  position: relative;
  top: 29px;
  left: 32px;
}

.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.combo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.title {
  align-self: stretch;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.price {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.price-button {
  background-color: #508c9b80;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 260px;
}

.chip-group {
  display: flex;
  width: 495px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.chip {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #508c9b80;
  border-radius: 6px;
  position: relative;
  flex: 0 0 auto;
}

.text {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.chip-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-right: -41.00px;
  background-color: #508c9b80;
  border-radius: 6px;
  position: relative;
  flex: 0 0 auto;
}

.group-2 {
  position: relative;
  width: 529px;
  height: 69px;
}

.p {
  position: absolute;
  width: 245px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #0b0b0b;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.rectangle-2 {
  width: 366px;
  height: 43px;
  top: 26px;
  left: 0;
  background-color: #f8f8f8;
  border-radius: 4px;
  border-color: #1e3d6080;
  position: absolute;
  border: 1px solid;
}

.overlap-group-wrapper {
  position: absolute;
  width: 143px;
  height: 43px;
  top: 26px;
  left: 386px;
}

.overlap-group-3 {
  position: relative;
  width: 141px;
  height: 43px;
  border-radius: 4px;
  border: 1.4px solid;
  border-color: #1e3d60;
}

.text-wrapper-5 {
  position: absolute;
  width: 40px;
  top: 11px;
  left: 49px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #1e3d60;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.content {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 52.09px;
}

.text-wrapper-6 {
  position: absolute;
  top: 11px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #6c6c6c;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.text-wrapper-7 {
  position: absolute;
  top: 11px;
  left: 398px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #1e3d60;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.primary {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #1e3d60;
  border-radius: 8px;
}

.title-2 {
  width: fit-content;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  position: relative;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}
